<div id="title">
  <h1>
    {% unless site.git == "" %}
    <a id="git-ic" href="{{site.git}}"><i class="fa fa-github"></i></a>	
    {% endunless %}

    {% unless site.bitbucket == "" %}
    <a id="bb-ic" href="{{site.bitbucket}}"><i class="fa fa-bitbucket"></i></a>	
    {% endunless %}

    {% unless site.stackoverflow == "" %}
    <a id="so-ic" href="{{site.stackoverflow}}"><i class="fa fa-stack-overflow"></i></a>
    {% endunless %}
		
    <a id="sitename" href="/">{{site.url}}</a>
  </h1>

  <!-- Add something about you in p tag-->
  <p>世界上只有10种人：一种是懂10进制的，一种是不懂10进制的。</p>
  <hr/>
  
  {% include nav-links.html %} 
	 
</div>


